<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mvp.arm.main">

    <application>
        <activity android:name=".ui.activity.MainActivity" />

        <meta-data
            android:name="com.mvp.arm.main.delegate.MainDelegate"
            android:value="IModuleConfig" />
    </application>

</manifest>